---
import { getOffreByPriceRange } from "../../../js/backend.mjs";
import Card from "../../../components/Card.astro";
import Base from "../../../layout/Base.astro";

const { minPrix, maxPrix } = Astro.params;
const offresRange = await getOffreByPriceRange(0, 200000);
console.log(offresRange);

---
<Base>
    <h1>Offres pour un prix compris entre {minPrix} et {maxPrix} euros</h1>
    <div>
        {offresRange.map(offre => (
            <Card {...offre} />
            <ul>
            <li>Adresse : {offre?.adresse}</li>
            <li>Prix de la maison : {offre?.prix}</li>
            <li>Nombre de chambre : {offre?.nombre_chambre}</li>
        </ul>
        ))}

    </div>
</Base></div>