---
import { getOffreID } from '../../js/backend.mjs';
import  Base  from '../../layout/Base.astro';

const { id } = Astro.params;
const offre = await getOffreID(id);
---

<Base titre={offre?.nom_maison}>
    <h2>Nom de la maison : {offre?.nom_maison}</h2>
        <ul>
            <li>Adresse : {offre?.adresse}</li>
            <li>Prix de la maison : {offre?.prix}</li>
            <li>Nombre de chambre : {offre?.nombre_chambre}</li>
        </ul>
</Base>